body{
    background-color:rgb(21, 5, 117) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
}

.contenedor{
    display: grid;
    grid-template-areas: "head head head"
                        "barra main main"
                        "footer footer footer";/*filas y columnas?*/
    gap: 10px;/*espacio entre las rejillas*/
    background-color: #f0f0f0;
    height: 100%;
}

header, main, section, footer{
    color:#eeeeee;
    padding: 10x;
    text-align: center;
    background-color: seagreen;
}

header{
    grid-area: head;
    background-color:  coral;
    position:sticky;
    top: 0px;
    height: 10vh;
}

section{
    grid-area: barra;
    background-color: rgb(139, 64, 64);
}

main{
    grid-area: main;
    background-color: rgb(6, 99, 68);
    height: 100vh;
}

footer{
    grid-area: footer;
    background-color: #5e8186;
    height: 10vh;
}

@media (max-width: 767px) {
    .contenedor{
        grid-template-areas: "head head"
                            "barra main"
                            "footer footer";
    }
}

@media (max-width:576px){
    .contenedor{
        grid-template-areas: "head"
                            "main"
                            "footer";
    }
    section{
        display:none;
    }
}