h1 {
	margin: 0;/*margen*/
	padding: 20px 0;/*espacio de arriba y abajo, osea relleno*/
	color: #00539f;
	text-shadow: 1.5px 1.5px 3.5px black;/*Es que tanto se movera la sombra y el desvanecido*/
	text-align: center;
}
hr {
	height: 7px;
	background-color: aqua;
	/*border-color: aqua*/
}
h2 {
	color: red; 
	width: 500px;
	border: 3px solid orange;
	text-align: left;
}

html {
  	background-color: #00a884;
}

body {/*contenedor color gris */
	width: 170px;
	margin: 0 auto;
	background-color: #C0C0C0;
	padding: 0 20px 20px 20px;/*tamaño del margen*/
	border: 1.8px solid black;
	text-align: justify;
}

.mi-imagen {
	display: block; 
    margin: 0 auto;
	alt:"si sale?";
	width: 290px;
	height: 350px;
	border-radius: 10px;
}

.mi-imagen1 {
	display: block;
    margin: 0 auto;
	alt:"siii";
	width: 300px;
    height: 350px;
	border-radius: 10px;
}


.contenedor {
    display: flex;
	width: 290px;
    height: 250px;
    justify-content: left; /* */
    gap: 20px; /* Espacio entre imágenes */
	border-radius: 10px;/*esquinas circulares*/
}

.contenedor1 {
    display: flex;
	width: 290px;
    height: 250px;
    justify-content: left; /*  */
    gap: 10px; /* Espacio entre imágenes */
	border-radius: 8px;
	text-decoration-line: "Imagen de mi :p";
}